body {
    font-family: Garamond;
    font-size: 16px;
    /*background-color: #0066FF;*/
    color: #696969;
    padding: 3px;
    padding: 5px;
    margin-left: -7px;
    margin-right: -7px;
    margin-top: -5px;
    padding-left:  15px;
    padding-right: 15px;
    background-color: #ffffff;
    border-radius:5px 5px;
    overflow-x: hidden;


}
#logo{
  color: #696969;
  margin-top: -50px;
  font-size:30px;
}
.navigation {
    list-style: none;
    background: #0066FF;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    margin-top: 0px;
}
button{
  -moz-box-shadow:inset 0px 1px 0px 0px #7a8eb9;
	-webkit-box-shadow:inset 0px 1px 0px 0px #7a8eb9;
	box-shadow:inset 0px 1px 0px 0px #7a8eb9;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffa200), color-stop(1, #ffe229));
	background:-moz-linear-gradient(top, #ffa200 5%, #ffe229 100%);
	background:-webkit-linear-gradient(top, #ffa200 5%, #ffe229 100%);
	background:-o-linear-gradient(top, #ffa200 5%, #ffe229 100%);
	background:-ms-linear-gradient(top, #ffa200 5%, #ffe229 100%);
	background:linear-gradient(to bottom, #ffa200 5%, #ffe229 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa200', endColorstr='#ffe229',GradientType=0);
	background-color:#ffa200;
	border:1px solid #314179;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Garamond;
	font-size:18px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
  padding: 10px

}
button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffe229), color-stop(1, #ffa200));
	background:-moz-linear-gradient(top, #ffe229 5%, #ffa200 100%);
	background:-webkit-linear-gradient(top, #ffe229 5%, #ffa200 100%);
	background:-o-linear-gradient(top, #ffe229 5%, #ffa200 100%);
	background:-ms-linear-gradient(top, #ffe229 5%, #ffa200 100%);
	background:linear-gradient(to bottom, #ffe229 5%, #ffa200 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe229', endColorstr='#ffa200',GradientType=0);
	background-color:#ffe229;
}
button:active {
	position:relative;
	top:1px;
}
#button1{
  margin-top: 8px;
}
.space{
  margin-bottom: 3px;

}
.orange{
  font-size: 20px;
  color:#FFB700;
}

.site-wrap {
    min-width: 100%;
    min-height: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    bottom: 100%;
    left: 0;
    z-index: 1;
    padding: 4em;
   background-image: linear-gradient(135deg,
                     rgb(254,255,255) 0%,
                     rgb(221,241,249) 35%,
                     rgb(160,216,239) 100%);
   background-size: 200%;
   margin-left: -10px;
}
#vids{
  position:relative;
}
.nav-trigger {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}
.nav-trigger + label, .site-wrap {
    transition: left 0.2s;
}
label[for="nav-trigger"] {
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 2;
    width: 30px;
height: 30px;
cursor: pointer;
background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
background-size: contain;
}
.nav-trigger:checked + label {
    left: 215px;
    color: #FFB700;
}

.nav-trigger:checked ~ .site-wrap {
    left: 200px;
    box-shadow: 0 0 5px 5px #FFB700;
}
#place{
  position: fixed;
}
#place1{
  position: fixed;
  margin-left: 70px
}
a > span{
  color:#FFB700;
}
p{
  font-size: 19px;
}

h1 {
    text-align:center;
    font-family: Georgia, serif;
    border-bottom: 3px solid blue;
    color: #996600;
    font-size: 30px;
    margin-right: 90px;
}

#ynder{
  padding-bottom: 14px;
}
a{
  text-decoration: none;
}
a:visited {
  color: #0066FF;
}
